{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1 text-light">
<h1 class="my-4">{% translate 'Create status' %}</h1>
  
<form method="post">
{% csrf_token %}
{% for field in form %}
<label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
<div class="mb-3">
<input type="text" class="form-control"
name="{{ field.name }}"
id="id_{{ field.name }}"
value="{{ field.value|default:'' }}" 
placeholder="{{ field.label }}"> 
<div class="text-danger">
<small>{{field.errors}}</small>
</div>
<div class="form-text">{{ field.help_text }} </div>
</div>
{% endfor %}
<input class="btn btn-primary" type="submit" value="{% translate 'Create' %}">
</form>
</div>
    {% endblock %}   