{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4 text-light">
        {% trans 'Users' %}
    </h1>
    <table class="table text-light table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'User name' %}</th>
                <th>{% trans 'Full name' %}</th>
                <th>{% trans 'Date of creation' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="text-light">{{user.id}}</td>
                <td class="text-light">{{user.username}}</td>
                <td class="text-light">{{user.first_name}} {{user.last_name}}</td>
                <td class="text-light">{{user.date_joined}}</td>
                <td>
                    <a href="{% url 'update_user' user.id %}">{% trans 'Change' %}</a>
                    <br>
                    <a href="{% url 'delete_user' user.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
