
{% extends "base.html" %}
{% load i18n %}
  {% block content %}
    <h1 class="my-4 text-light"></h1>
    
    <div class="card border-white rounded-5">
      <div class="card-body p-4 bg-secondary text-light rounded-5">
        <div class="display-5">{% translate 'Greetings from Hexlet!' %}</div>
        <p class="lead">{% translate 'Practical programming courses' %}</p>
        <hr>
        <a class="btn btn-primary btn-lg bg-dark" href="https://ru.hexlet.io">{% translate 'Learn more' %}</a>
      </div>
    </div>
    
  {% endblock %}
